body {
  margin: 0;
  padding: 0;
  /* padding-left: 10%; */
  font-family: sans-serif;
  background-color: rgb(105, 0, 0);
}

form{
  padding: 20px;
  margin-top: 60px;
}

form button, form H5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

.App {
  padding-left: 10%;
  padding-right: 10%;
}

#file-upload-button {
  height: 100px;
  background-color: black;
}

#editAdminBlock {
  margin-bottom: 5rem;
}

.collection {
  border: none;
}

.collection-item {
  border-left-color: transparent;
}

/* .homeDashLi {
  height: 15vh;
} */
.homeDashLi:hover {
  cursor: pointer;
}